@font-face {
  font-family: 'regular_b';
  src: url('/fonts/custom/LibreBaskerville-Bold.ttf');
}
@font-face {
  font-family: 'regular';
  src: url('/fonts/custom/LibreBaskerville-Regular.ttf');
}


/* ------------------------ Vishwajith --------------------- */
.navbar-text-center {
  display: flex;
  position: relative;
  justify-content: center !important;
}

.navbar-text-center i {
  position: absolute;
  left: 5%;
  color: #3f5797;
  cursor: pointer;
}

.title {
  color: #3f5797;
}

.todo_add_section {
  display: flex;
  width: 100%;
}

.add_btn {
  width: 25%;
  border: 1px solid #d5d5d7;
  color: green;
}



.row {
  display: flex;
  margin: 10% 3% 0px 3%;
  justify-content: space-evenly;
}

.col-75 {
  width: 75%;
}

.col-20 {
  width: 20%;
}

.col-95 {
  width: 95% !important;
}

.input {
  width: 100%;
  height: 2.3rem !important;
  border-bottom: 2px solid #3f5797 !important;
  padding: 10px !important;
}

#add:active {
  border: 2px solid #6d8efa;
  background-color: #c5f5b1;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #339dff;
  color: #394052;
  border: none;
  border-radius: 25px;
}



.toolbar {
  display: flex;
  justify-content: center;
}

.toolbar_icon_home {
  width: 2.5rem;
  height: 2.5rem;
  background: #f5f5f5;
  display: flex;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 -2px 2px rgba(80, 79, 79, 0.3);
}

.toolbar_icon_home:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);

}

.home_page_content {
  width: 100%;
  height: 4.5rem;
  background-color: #ffffff;
  border-radius: 15px;
  display: grid;
  padding: 10px 5px;
  margin: 2% 0px;
}

.page-content {
  background-color: #dedede;
}

.col-98 {
  width: 98%;
}

.home {
  margin-top: 3%;
}

.home_page_content h3 {
  margin: 0px;
  color: #0f1316e2;
  display: flex;
  justify-content: space-evenly;
}

.home_page_content h5 {
  margin: 0px;
}

.home_pickup1 {
  color: #405ca9 !important;
}

.home_pickup2 {
  color: #c97e5a !important;
}

.home_subtitle1 {
  color: #9ca7cf;
}

.home_subtitle2 {
  color: #df7f50;
}

.home_btn2 {
  background-color: #f26c2e !important;
}

.home_btn:active {
  background-color: #8797ec;
}

.home_btn2:active {
  background-color: #f65307 !important;

}

.home_page_subtitle h5 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 7%;
  align-items: center;
}

.home_btn {
  width: 4rem;
  height: 1rem;
  margin-left: 39%;
  border-radius: 5px;
  background-color: #aeb8ec;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.toolbar-icon {
  width: 3.5rem;
  height: 3.5rem;
  /* background: #d9ebff; */
  display: flex;
  /* color: #000 !important; */
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.toolbar-icon a i {
  color: #1f2225;
}

.toolbar-active a i {
  color: #066be6 !important;
}

.toolbar-active,
.toolbar-icon:active {
  background-color: #cbdff4;
}


.toolbar-icon a i:active {
  color: #6197da;
}

.toolbar-inner {
  justify-content: space-around !important;
  background-color: #efeff4;
  left: 2%;
  top: 5% !important;
  width: 95%;
  border-radius: 35px;
  height: 90% !important;
}

.setting_icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #cbdff4a6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .item-content {
  display: flex;
  background: #cbdff49c;
  margin: 6px 3px;
  border-radius: 6px;
}

.profile_dp {
  width: 2.5rem;
  height: 2.5rem;
  background: #066be624;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.list .item-content {
  display: flex;
  background: #cbdff49c;
  margin: 12px 11px;
  height: 2.5rem;
  border-radius: 10px;
}

.list .item-content:active {
  background: #7bb8fa9c;
  color: white;
}

.message_tab {
  background-color: unset !important;
  padding-top: 13%;
}

.todo_btn a {
  height: 2.5rem;
  width: 3rem;
  margin-top: 7%;
  display: flex;justify-content: center;
 
}
.todo_btn1 a {
  height: 2.5rem;
  width: 3rem;
  margin-top: 17%;
}